<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
</head>

<body>
login.ejs: kirjaudutaan sisään olemassaolevalla käyttäjätunnuksella
<form action="/login" method="POST">
    <input type="text" name="username" placeholder="Käyttäjätunnus">
    <br>
    <input type="password" name="password" placeholder="Salasana" >
    <br>
    <input type="submit" value="Lähetä">
</form>


</body>

</html>