<form (submit)="laheta()">
  <h1>Suosikki supersankari</h1>
  <div class=kuka>
    <label for="nimi-input">Nimi:</label>
    <!--<input id="nimi-input" type="text" name="nimi" placeholder="Anna nimesi" class=nimi>-->
    <input type="text" name="nimi" placeholder="Anna nimesi" [(ngModel)]="nimi">
    <br>
  </div>
  <div *ngFor="let v of vaihtoehdot">
    <input [id]="v" type="radio" name="supersankari" [value]="v" [(ngModel)]="supersankari">
    <label [for]="v">{{v}}</label>
  </div>

  <input type="submit" value="Lähetä" class=nappi>
</form>

